* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat';
    font-size: 14px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid {
    max-width: 650px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-pic {
    max-width: 325px;
    height: 100%;
    object-fit: cover;
}

.item-mobile-pic {
    display: none;
}

.category {
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    padding: 25px 0 0 25px;
}

.perfume-title {
    font-family: 'Fraunces';
    font-size: 2.3rem;
    padding: 25px;
    line-height: 1;
    color: hsl(212, 21%, 14%);
}

.description {
    color: hsl(228, 12%, 48%);
    padding: 0 25px 25px 25px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.8;
}

.prices {
    display: flex;
    align-items: center;

}

.sale-price {
    font-family: 'Fraunces';
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    padding: 0px 20px 0 25px;
}

.reg-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.cart-button {
    width: 275px;
    height: 50px;
    margin: 25px;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart {
    padding-right: 10px;
}

.cart-button:hover {
    background-color: hsl(158, 36%, 23%);
    cursor: pointer;
}

@media (max-width: 660px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .item-pic {
        display: none;
    }

    .item-mobile-pic {
        display: flex;
        width: 100%;
    }


    .product-info {
        display: block;
    }

    .cart-button {
        width: 90%;
        margin: auto;
        margin: 25px auto 25px auto;
    }

    .attribution {
    font-size: 11px; text-align: center;
    color: white;
}
.attribution a {
    color: hsl(230, 34%, 48%);
}

}